@import url('https://fonts.googleapis.com/css?family=Rajdhani');

img.bg-img {
  filter: blur(10px);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1000
}
div.App {
  max-width: 900px;
  margin: auto;
  min-height: 100vh;
  background: rgba(40,40,40,0.9);
}
div.AppBar h1 {
  color: white;
  margin: 0;
  font-family: 'Rajdhani';
  font-size: 25px;
  text-transform: uppercase;
}
.max-width-100px {
  max-width: 100px
}
