@import url('https://fonts.googleapis.com/css?family=Rajdhani');

img.bg-img {
  filter: blur(10px);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1000
}
div.App {
  max-width: 900px;
  margin: auto;
  min-height: 100vh;
  background: rgba(40,40,40,0.9);
}
.uppercase {
  text-transform: uppercase;
}
.max-width-100px {
  max-width: 100px
}
.MuiDialogTitle-root-239 .MuiSvgIcon-root-127 {
  font-size: inherit
}
